@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(fonts/KaushanScript-Regular.woff);
}
@font-face {
    font-family: 'Montseratt';
    src: url(fonts/montserrat-regular.woff);
}

@font-face {
    font-family: 'Montseratt-bold';
    src: url(fonts/Montserrat-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.woff);
}
@font-face {
    font-family: 'Roboto-bold';
    src: url(fonts/Roboto-Bold.woff);
    font-weight: bold;
}
