@import "Fonts.css";
@import url(Icons/IcoMoon2/style.css);
*, ::after, ::before {
	box-sizing: border-box;
}


html, body{
    font-size: 10px;
    overflow-x:hidden;
}
*{
    font-size: 1.4rem;
    line-height: 1.6rem; 
}
@media screen and (max-width: 991px) {
    html, body {
      font-size:7.5px; 
    }
    footer .Instagram_collage{
        width: 32% !important;
        margin-right: 0% !important;
    }
    .testimonial-carousel{
        p{
            font-size: 2.8rem!important;
        }
    }
}
@media screen and (max-width: 767px) {
    html, body {
      font-size:6px; 
      overflow-x: hidden;
    }
    .devices_background{
        height: 65vh!important;
        
    }
    .footer{
        .footer_container{
            flex-direction: column!important;
            .header_text{
                margin-bottom: 4rem;
            }
            .header_text, .blog_links, .Instagram_collage{
                width:100% !important;
            }
        }
    }
}
@media screen and (max-width: 479px) {
    html, body {
      font-size:4.5px; 
      overflow-x: hidden;
    }
    .devices_background{
        height: 45vh!important;
        
    }
    .numbers .nav__container li{
        padding: 3rem!important;
    }
    .what_we_do{
        .nav__container{
            flex-direction: column;
            li{
                width:100%!important;
                margin-bottom: 2rem;
            }
        }
    }
    .devices_background{
        height: 45vh!important;
    }
    .testimonial-carousel{
        p{
            font-size: 2rem!important;
        }
    }
    .Who_we_are{
        .pictures .nav__container {
            flex-wrap: wrap;
            flex-direction: column;
            li{
            width: 100%!important;
            margin-bottom: 2rem;
            
            }
        }
        .names__container{
            display: none!important;
        }
        .phone_resolution_text{
            display: block!important;
            text-align: center;
            margin-bottom:2rem;
        }
    }
    .Some_of_our_work{
        .collage__container{
            height:108vh!important;
            flex-direction: row!important;
            .collage_item{
                height: 27vh!important;
                width: 50%!important;
            }
            .image12{
                width:100%!important;
            }
        }
       
    }
    .blog_item{
        width: 100%!important;
    }    
    .blog_container{
        flex-direction: column!important;
    }
    .client_whole{
        width: 100%!important;
    }
    .footer{
        .footer_container{
            flex-direction: column!important;
            .header_text{
                margin-bottom: 4rem;
            }
            .header_text, .blog_links, .Instagram_collage{
                width:100% !important;
            }
        }
    }
}
/*HEADER STYLES*/
.nav__container{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.header{
    height: 100vh;
	background-blend-mode: normal;
    background:linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)), url(Images/InBgs/Vulture-compressor.jpg);
    background-size: 100%; 
    background-position: center center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.header nav .nav__container{
    display: flex;
    padding: 1.5rem 5rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.header nav .nav__container li{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.header nav .nav__container li.buttons a{
   padding: 1rem 1rem;
   font-size: 1.2rem;
   
   border-bottom: 0.3rem solid transparent;
   font-family: 'Montseratt-bold';
}
.header nav .nav__container li.buttons a:hover{
    color: #fbe389;
    border-bottom: 0.3rem solid #fbe389; 
}
.header nav .nav__container li.buttons a.white:hover::before{
    color: #fbe389;
}
.header nav .nav__container li a{
   /* padding: 0.5rem 4rem;*/
    font-size: 1.8rem;
    
    font-family: 'Montseratt-bold';
 }

 .white,
 .white::before{
     fill:white;
     color: white;
 }
 .title__container{
     display: flex;
     padding-top: 0rem;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     vertical-align: middle;
 }
 .title__container h2 {
    text-align: center;
    font-family: 'KaushanScript-regular';
    font-size: 7.2rem;
 }
 .title__container h3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Roboto-bold';
    font-size: 15rem;
    text-transform: uppercase;
}
.text__container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 59%;
    margin-bottom: 1.5rem;
}
.line__container{
    height:0.3rem;
    width: 5%;
    margin-bottom: 3rem;
    border-bottom: 3px solid white;
}

 .button__container button{
    border: 3px solid white;
    background:transparent;
    font: 'Roboto-bold';
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.button__container button:hover{
    border: 3px solid #fbe389;
    color: #fbe389;
}
button{
    text-decoration: none;
    outline: none;
}  
a{
    text-decoration: none;
}
.nav_bottom_button_container{
    position: relative;
    display: flex;
    width: 24%;
    justify-content: flex-start;
    text-align: left;
    color: #f7eac5;
    border-top: 0.3rem solid #f7eac5;
}
.nav_bottom_button_container a{
    width:100%;
}
/*.nav_bottom_button_container:hover, .nav_bottom_button_container:hover a div,.nav_bottom_button_container:hover a {
    border-top-color: white ;
    color: white;
    display: block;
}*/
.navigation{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2.5rem;
}
.on_hover_border{
    display: none;
    top: -0.3rem;
    left: 0;
    height: 0.3rem;
    width: 0%;
    position: absolute;
    background-color: #f38181;
}
.bolded{
    font-family: 'Montseratt-bold';
    font-size: 2.5rem;
}
.transparent {
   color: #f7eac5;
}
.logo a:hover{
    color:#fbe389;
}
.navigation nav .nav__container li a{
    padding: 0rem;
}
.navigation nav .nav__container li{
    justify-content: flex-start;
}
.navbar-fixed{
    position: fixed;
    z-index: 10000;
    width: 100%;
    background: rgb(239,196,136);
    top: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 5rem;
    padding-right: 5rem;
}
/*HEADER STYLES END*/





/*WHAT WE DO START*/
.what_we_do {
    margin-top: 9.5rem;
    height: fit-content;
}
.what_we_do .title__container .text__container h2 {
    font-size: 2.4rem;
}
.what_we_do .title__container .text__container h3 {
    font-size: 3rem;
    margin-bottom: 4rem;
}
.what_we_do .title__container .text__container p , .service p{
    font-size: 1.5rem;
    color: #b3b3b3;
    text-align: center;
    line-height: 2.4rem;
    font-family: 'Roboto';
    margin-bottom: 4rem;
}
.what_we_do .line__container{
    border-color: #f38181;
}
.image1{
    background-image:url(Images/Three/Layer-39-compressor.jpg);
    background-size: cover;
    background-position: center center;
}
.image2{
    background-image: url(Images/Three/Layer-41-compressor.jpg);
    background-size: cover;
    background-position: center center;
}
.image3{    
    background-image: url(Images/Three/Layer-44-compressor.jpg);
    background-size: cover;
    background-position: center center;
}
.sticky {
    position: fixed;
    top: 0;
    padding-right: 10rem;
    width: 100%
}
.pictures {
    height: fit-content;
    margin-left: 10rem;
    margin-right: 10rem;
}
.pictures .nav__container li {
    position: relative;
    height: 38rem;
    width: 32%;
}
.image1:hover{
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Three/Layer-39-compressor.jpg);
    top: -1.5rem;
    left: -1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    width: calc(32%+1.5rem);
    height: calc(38rem + 1.5rem);
}
.image2:hover{
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Three/Layer-41-compressor.jpg);
    top: -1.5rem;
    left:-1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    width: calc(32%+1.5rem);
    height: calc(38rem + 1.5rem);
}
.image3:hover{
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Three/Layer-44-compressor.jpg);
    background-blend-mode: normal;
    top: -1.5rem;
    left:-1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    width: calc(32%+1.5rem);
    height: calc(38rem + 1.5rem);
}
.pictures .nav__container{
    position: relative;   
}

.pictures li a{
    position: absolute;
    height: 100%;
    width: 100%;
}
.pictures li:hover::after{
    z-index: -1;
    top: 1rem;
    left: 1rem;
    content:"";
    background-color: #95e1d3;
    background-position: 20px 20px;
    position: absolute;
    height: 100%;
    width: 100%;
}
.pictures li:hover{

}
.hidden_logo{
    color:transparent;
    height: 100%;
    width: 100%;
}
.hidden_logo:hover{
    display: flex;
    color:white;
    flex-direction: column;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    line-height: 3.5rem;
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Roboto';
}
.hidden_logo h5{
    font-size: 3.2rem;
    font-family: 'Roboto';
}
.true_transparent_logo,
.true_transparent_logo::before{
    color: transparent;
}
.true_transparent_logo:hover,
.true_transparent_logo:hover::before{
    color: white;
}
/*WHAT WE DO END*/


/*Numbers start*/
.numbers .nav__container{
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
    height:27rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.numbers .nav__container li{
   
    width: 100%;
  
}
.numbers .nav__container li:nth-child(-n+4){
    border-right: 0.1rem solid #b5eae0;
    padding: 5rem;
    
}


.numbers{
    margin-top:11rem;
    background-color: #95e1d3;
    height: 27rem;
    
}
.numbers h2{
    font-family: 'Montseratt';
    font-size: 2.4rem;
    color: white;
}
.numbers h3{
    font-family: 'Montseratt-bold';
    font-size: 7.2rem;
    color: white;
}


/*services start*/
.services{
    margin-top: 9.5rem;
    height: fit-content;
}
.descriptions{
    margin-top: 3rem;
    width: 100%;
    height: fit-content;
    padding-left:10rem;
    padding-right: 10rem;
}
.services .title__container .text__container h2 {
    font-size: 2.4rem;
}
.services .title__container .text__container h3 {
    font-size: 3rem;
    margin-bottom: 4rem;
}
.services .line__container{
    border-color: #f38181;
}
.icon__container{
    font-size: 3rem;
    width: 100%;
    height: 100%;
}
.services .nav__container{
    height: 100%;
    flex-wrap: wrap;
}
.description{
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 49%;
}
.description h6 {
    font-family: 'Montseratt';
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: rgb(50,50,50);
    font-weight: bold;
    text-transform: uppercase;
    text-overflow: clip;
}
.description h2 {
    
    font-size: 1.5rem;
    color: #b3b3b3;
    text-align: left;
    line-height: 2.4rem;
    font-family: 'Roboto';
    margin-bottom: 4rem;
}
.icon__container{
    margin-right: 3rem;
    width: fit-content;
}
.descriptions .nav__container .description:nth-child(n+4){
    padding-top: 5rem;
    border-top: 1px solid #e5e5e5;
}
/*services end*/
/*devices with background*/
.devices_background{
    height: 100vh;
    margin-top: 10rem;
    
    background: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)), url(Images/InBgs/Layer-45-compressor.jpg);
    background-position: center center;
    background-blend-mode: normal;
}
.devices_background .title__container{
    padding-top: 12rem;
    height: 100%;
    position: relative;
    justify-content: flex-start;
}
.devices_background  .text__container{
    display: initial;
}
.devices_background h2, .service h2 {
    font-size: 2.4rem;

}
.devices_background h3, .service h3{
    font-size: 3rem;
 
    margin-bottom: 4rem;
}
.devices_background .line__container{
    border-color: #f38181;
}
.image__hidden_tablet {
    height: 71.3rem;
    width: 47.7rem;
    background-position: center center;
    background-size: cover;
    background-image: url(Images/Phonetablet/Tablet-compressor.png);  
}
.image__hidden_phone {
    background-image: url(Images/Phonetablet/Phone-compressor.png);
    width: 27.4rem;
    height: 47.6rem;
    position: absolute;
    bottom: -10rem;
    right: 25vw;
    z-index: 20;
    background-position: center center;
    background-size: cover;
}

.description .title__container{
    position: relative;
}
.devices__container{
    position: relative;
    height: 100%;
    z-index: 0;
}
/*devices with bg end*/
/*service start*/
.service{
    position: relative;
    z-index: 0;
    height: 100%;
    background-color: white;
    background-blend-mode: unset;
    margin-bottom: 12rem;
}
.service .line__container{
    border-color: #f38181;
}
.service .title__container {
    padding-top: 12rem;
}
.image__and_text_drawers{
    display: flex;
    padding-right: 10rem;
    padding-left: 10rem;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.image__and_text_drawers .image__container{
    background-image: url(Images/Pointing_at_wall.jpg);
    background-position: center center;
    background-size: cover;
    width: 49%;
    height: 40rem;
}
.drawer{
    display: flex;
    max-height: 32%;
    flex-direction: column;
}
.drawers__container{
    width: 49%;
}
.textarea_scroll {
    font-size: 1.5rem;
    color: #b3b3b3;
    text-align: justify;
    line-height: 2.4rem;
    font-family: 'Roboto';
}
.textarea_scroll p {
    display: none;
    max-height: 32vh;
    overflow-y: scroll;
    overflow-x: auto;
    margin:0;
    border: 1px solid #e5e5e5;  
}
.drawer button{
    display:flex;
    position: relative;
    flex-direction: row;
    text-decoration: none;
    outline: none;
    background: none;
    text-align: center;

    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid #e5e5e5;
}
.drawer button span{
    margin: auto;
    font-family: 'Montseratt';
    font-size: 1.4rem;
}
.drawer .icon-ARROW-_-DOWN, .drawer .icon-ARROW-_-UP{
    align-self: center;
    right: 0.5rem;
    position: absolute;
    font-size: 0.7rem;
    color: #e5e5e5;
}
/*service end*/
/* Testimonials*/
.testimonial-carousel {
        background: #f8f8f8;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        height: 29rem;
        position: relative;
        padding: 0 5%;
        display: flex;
    div.contain_stuff{
        display: flex;
        flex-direction: row;
    }
    span.big_icon{
        margin-right: 4rem;
        margin-left: 0.2rem;
        margin-top: 0px;
        font-size: 10rem;
        border: solid #95e1d3 3px;
        padding: 2rem;
    }
    span.line__container{
        margin-bottom: 0.2rem;
        margin-right: 1rem;
        width: 5%;
         display: inline-block;
         border-color: #f38181;
    }
    .icon-container {
        position: relative;
        margin: 0 5rem;
        max-width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    @media (min-width: 768px) {
        max-width: 50px;
        padding: 0 10px;
    }
    span.lnr {
        color: #dadada;
        font-size: 1.6em;
        cursor: pointer;
        transition: color 0.3s linear;
        @media (min-width: 768px) {
            font-size: 2.6em;
        }
        &::before {
            color: #cccccc;
            }
        }
    }
    p {
        margin-top: 10px;
        font-family: 'Roboto';
        font-style: italic;
        color: #ababab;
        font-size: 4.8rem;
        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }
}

.testimonial-items {
    position: relative;
    flex: 1;
    overflow: hidden;
    color: black;
}

.testimonial-item {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
p.testimonial-author {
    margin-top: 2rem;
    font-family: 'KaushanScript-Regular';
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}
&.first {
     left: 0;
 }
&.second {
     left: 100%;
 }
&.third {
     left: 200%;
 }
}


/*Testimonials end*/
/*Start Who we Are*/

.Who_we_are{
    height:100%;
    padding-top: 12rem;
    width:100%;
    position: relative;
 
    h2 {
        
        font-size: 2.4rem;
    }
    h3 {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    .line__container{
        border-color: #f38181;
    }
    p{
        font-size: 1.5rem;
        color: #b3b3b3;
        text-align: center;
        line-height: 2.4rem;
        font-family: 'Roboto';
        margin-bottom: 4rem;
    }
   
    .pictures .nav__container{
        position: relative;   
    }
    
    .pictures .hovered a{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .pictures>.hovered::after{
        z-index: -1;
        top: 1rem;
        left: 1rem;
        content:"";
        background-color: #95e1d3;
        background-position: 20px 20px;
        position: absolute;
        height: 100%;
        width: 100%;   
    }
    .pictures li:hover .hidden_links{
        display:flex!important;
    }
   
    .hidden_links{
        display: none;
        position: relative !important;
        flex-direction: row !important;
        justify-content:center;
        align-items: center;
        height: 100%;
        width: 100% ;  
        padding-left: 0%;
        padding-right: 10%;
        padding-bottom: 10%;
    }
    .hidden_links li{
       height: fit-content !important;
       width: 19% !important;
       background-color: #fce38a !important;
       text-align: center;
       div a{
           position: absolute;
           right: 10%;
           bottom: 10%;
           z-index: 1000;
           height:100%;
           width:100%;
           
       }
    }
    .hidden_links li div{ 
        margin: 0;
        padding: 1.5rem;
        font-size: 2.5rem;
    }
    .hidden_links li div::before{ 
        color: #f38181;
    }
    .hidden_links li div:hover,.hidden_links li div:hover::before { 
        color: #fce38a !important;
        background-color: #f38181 !important;
    }
    .phone_resolution_text{
        display: none;
        h5{
            font-size: 1.4rem;
            color: rgb(51,51,51);
            font-family: 'Montseratt';
        }
        h6{
            font-size: 1.5rem;
            color: rgb(153,153,153);
            font-family: "Roboto";
            font-weight: 300;
            font-style: italic;;   
        }
    }
    .image4{
        position: relative;
        background-image:url(Images/People/Layer-16-compressor.jpg);
        background-size: cover;
        background-position-x: left;
    }
    .image4:hover{
        position: absolute;
        background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/People/Layer-16-compressor.jpg);
        top: -1.5rem;
        left: -1.5rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        width: calc(32%+1.5rem);
        height: calc(38rem + 1.5rem);
        
    }
    .image5{
        position: relative;
        background-image:url(Images/People/Layer-18-compressor.jpg);
        background-size: cover;
        background-position-x: center;
    }
    .image5:hover{
        position: absolute;
        background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/People/Layer-18-compressor.jpg);
        top: -1.5rem;
        left: -1.5rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        width: calc(32%+1.5rem);
        height: calc(38rem + 1.5rem);
    }
    .image6{
        position: relative;
        background-image:url(Images/People/Layer-19-compressor.jpg);
        background-size: cover;
        background-position-x: center;
    }
    .image6:hover{
        position: absolute;
        background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/People/Layer-19-compressor.jpg);
        top: -1.5rem;
        left: -1.5rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        width: calc(32%+1.5rem);
        height: calc(38rem + 1.5rem);
    }
    .pictures {
        height: fit-content;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .pictures .nav__container li {
        position: relative;
        height: 38rem;
        width: 32%;
    }
    .names__container{
        margin-top: 3.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .names__container li{
        width: 32%;
        line-height: 3.2rem;
        text-align: center;
    }
    .names__container h5{
        font-size: 1.4rem;
        color: rgb(51,51,51);
        font-family: 'Montseratt';
    }
    .names__container h6{
        font-size: 1.5rem;
        color: rgb(153,153,153);
        font-family: "Roboto";
        font-weight: 300;
        font-style: italic;;   
    }
    
}
.hipster_logos{
    background-color: #f8f8f8;
    width:100%;
    height: 25rem;
    margin-top: 12rem;
    padding: 10rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    div{
        height: 100%;
    }
    object{
        height: 100%;
        width: 100%;
        
    }
    
}
.Some_of_our_work{
    height:100%;
    padding-top: 12rem;
    width:100%;
    position: relative;
 
    h2 {
        
        font-size: 2.4rem;
    }
    h3 {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    .line__container{
        border-color: #f38181;
    }
    p{
        font-size: 1.5rem;
        color: #b3b3b3;
        text-align: center;
        line-height: 2.4rem;
        font-family: 'Roboto';
        margin-bottom: 4rem;
    }
    .collage__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 66vh;
        .collage_item{
            width: 25%;
            height: 33vh;
            background-size: cover;
            h5{
                margin-top: 1rem;
                font-size: 1.4rem;
                color: transparent;
                font-family: 'Montseratt';
                text-transform: uppercase;
            }
            h6{
                font-size: 1.5rem;
                color: transparent;
                font-family: "Roboto";
                font-weight: 300;
                font-style: italic;;   
            }
            &:hover h5, &:hover h6{
                
                line-height: 2rem;
                color: white;
            }
        }
        .image7{
            &:hover{
                background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Collage/Layer-26-compressor.jpg);
            }
            order: 0;    
            background-position: center bottom;
            background-image: url(Images/Collage/Layer-26-compressor.jpg);
        }
        .image8{
            &:hover{
                background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Collage/Layer-29-compressor.jpg);
            }
            order: 3;        
            background-position: center center;
            background-image: url(Images/Collage/Layer-29-compressor.jpg);
        }
        .image9{
            order: 5;
            &:hover{
                background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Collage/Layer-31-compressor.jpg);
            }
            background-position: center top;
            background-image: url(Images/Collage/Layer-31-compressor.jpg);
        }
        .image10{
            order: 6;
            &:hover{
                background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Collage/Layer-32-compressor.jpg);
            }
            background-position: center top;
            background-image: url(Images/Collage/Layer-32-compressor.jpg);
        }
        .image11{
            order: 2;
            &:hover{
                background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Collage/Layer-33-compressor.jpg);
            }
            background-position: center center;
            background-image: url(Images/Collage/Layer-33-compressor.jpg);
        }
        .image12{
            order: 4;
            &:hover{
                background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Collage/Layer-34-compressor.jpg);
            }
            background-position: center center;
            background-image: url(Images/Collage/Layer-34-compressor.jpg);
            height: 66vh;      
        }
        .image13{
            &:hover{
                background-image: linear-gradient(to bottom,rgba(232,136,130,0.9),rgba(239,196,136,0.9)),url(Images/Collage/Layer-35-compressor.jpg);
            }
            order:1;     
            background-position: center center;
            background-image: url(Images/Collage/Layer-35-compressor.jpg);
        }   
    }
}


/*End who we are*/

.testimonials_people{
    margin-top: 6rem;
    margin-bottom: 6rem;
    .testimonial-carousel{
        background: white;

    }
    img{
        border-radius: 50%;
        height: 24rem;
        width: 24rem;
    }
    .contain_stuff{
        flex-direction: column;
    }
    .testimonial_text_container{
        margin: 1.5rem;
    }
}

.what_people_say{
    padding-top: 12rem;
    padding-right: 10rem;
    padding-left: 10rem;
    background: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)), url(Images/InBgs/Layer-53-compressor.jpg);
    background-position: center center;
    background-blend-mode: normal;
    height: fit-content;
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    p{
        font-size: 1.5rem;
        color: #b3b3b3;
        text-align: left;
        line-height: 2.4rem;
        font-family: 'Roboto';
        margin-bottom: 4rem;
    }
    h5{ 
        font-family: 'Montseratt';
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        color: rgb(50,50,50);
        font-weight: bold;
        text-transform: uppercase;
    }
    h6{
        font-size: 1.4rem;
        font-family: 'Montseratt';
    }
    img{
        margin-right: 2.5rem;
        display: block;
        border-radius: 50%;
        height: 12rem;
        width: 12rem;
        
    }
    .line__container{
        margin-top: 1rem;
        border-color: #f38181;
    }
    .clients_list{
        display: flex;
      
    }
    .client{
        width:66%;
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .client_whole{
        width: 49%;
        display: flex;
        flex-direction: row;
    }
    .clients_list{
        height: 66%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
    }
}
.blogs{
    padding-top: 12rem;
    padding-right: 10rem;
    padding-left: 10rem;
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
    .line__container{
        border-color: #f38181;
    }
    h5{ 
        margin-top: 2rem;
        font-family: 'Montseratt';
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        color: rgb(50,50,50);
        font-weight: bold;
        text-transform: uppercase;
    }
    p{
        font-size: 1.5rem;
        color: #b3b3b3;
        text-align: left;
        line-height: 2.4rem;
        font-family: 'Roboto';
        margin-bottom: 0rem;
        border-bottom: solid 1px #e5e5e5;
        padding-bottom: 1rem;
    }
    .blog_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .blog_bg{
        position: relative;
        height: 34vh;
        background-position: center center;
        background-size: cover;
    }
    .blog_item{
        width: 32%;
    }
    .bg1{
        background-image: url(Images/Blogpics/Layer-54-compressor.jpg);
    }
    .bg2{
        background-image: url(Images/Blogpics/Layer-55-compressor.jpg);
    }
    .bg3{
        background-image: url(Images/Blogpics/Layer-57-compressor.jpg);
    }
    .date{
        position: absolute;
        height: fit-content;
        width: fit-content;
        bottom: 2rem;
        left: -1rem;
        background: #95e1d3;
        padding: 1rem;
        h4{
            font-size: 3rem;
            color: white;
            font-family: 'Montseratt-bold';
        }
        p{
            color: white;
            font-style: italic;
            margin-bottom: 0rem;
            border-bottom: none;
            padding-bottom: none;
        }
    }
    .stats_container{
        display: flex;
        flex-direction: row;
        div{
            padding: 1rem;
            color: rgb(153,153,153);
            font-family: 'Roboto';
            span{
                font-style: italic;
            }
        }
    }
}
.map{
    margin-top: 12rem;
    background-image:  linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)),url(Images/InBgs/Layer-59-compressor.jpg);
    background-size: cover;
    background-position: center center;
    height: 33vh;
    div::before, h2, div{
        color: #f38181;
        font-size: 2.6rem;
        margin-bottom: 2rem;

    }
    .map_container{
        display: flex;  
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%; 

        h2{
            margin-bottom: 2rem;

            font-size: 2.4rem;
            color: rgb(243,129,129);
            font-family: 'Montseratt-bold';
            text-align: center;
        }
    }
    .line__container{
        margin-bottom: 2rem;

        border-color: #f38181;
    }
  
}
.footer{
    padding-right: 10rem;
    padding-left: 10rem;
    padding-top: 6rem;
    background-color:  #f7f7f7;

    .footer_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
 
    h5{
        font-size: 4.6rem;
        color: rgb(204,204,204);
        font-family: 'Montseratt-bold'; 
        margin-bottom: 4.5rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: rgb(153,153,153);
        font-family: "Roboto";  
        margin-bottom: 4.5rem;
    }
    h6{
        font-size: 1.8rem;
        color: rgb(51,51,51);
        font-family: "Montseratt";
        span{
            font-family: "Montseratt-bold";
        }
        padding-bottom: 2rem;
        border-bottom: solid 1px #e5e5e5;
    }
    .header_text{
        width: 32%;
    }
    .icons_container{
        display: flex;
        flex-direction: row;
        li{
            margin: 1rem 1rem;
            font-size: 1.2rem;
        }
        .text_follow{
            margin: 1rem 0rem;
            font-size: 1.2rem;
            color: rgb(153,153,153);
            font-family: "Roboto";
            font-style: italic;
        }
    }
    form{
        margin-top: 2rem;
        margin-right: 0rem;
        input{
            float: left;
            border: solid 1px #e5e5e5;
            padding:0.5rem;
            width:65%;
            color: rgb(153,153,153);
            font-style: italic;
            font-family: "Roboto";
            margin-right:0;
        }
        button{
            font-size: 1.4rem;
            padding: 0.6rem;
            color: rgb(255,255,255);
            font-family: "Montseratt-bold";  
            text-align: center;
            border: none;
            width:32%;
            background: #95e1d3;
     }
    }
    .blog_links{
        width: 32%;
        
        h4{
            font-size: 1.4rem;
            color: rgb(51,51,51);
            font-family: "Montseratt";  
            margin-bottom: 4rem;
        }
        h5{
            padding-top: 2rem;
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: rgb(51,51,51);
            margin-bottom: 0;
            height: fit-content;
            font-family: "Montseratt"; 
            text-transform: uppercase; 
        }
        h6{
            border: none;
            font-size: 1.3rem;
            line-height: 2.4rem;
            color: rgb(153,153,153);
            font-family: "Roboto";
            font-style: italic;
        }
        .link_to_blog{
            margin-bottom: 4rem;
            display: flex;
            flex-direction: row;
        }
        .blog_img{
            margin-right: 2rem;
            width: 12rem;
            height: 7rem;
            background-position: center center;
            background-size: cover;
        }
        .image14{
            background-image: url(Images/Blogs/photos-7884rHDsW8yqbsyN-compressor.jpg);
        }
        .image15{
            background-image: url(Images/Blogs/photos-7884lejLFH9MN8IC-compressor.jpg);
        }
        .image16{
            background-image: url(Images/Blogs/photos-7884P2smgicsZFyn-compressor.jpg);
        }
    }
    .Instagram_collage{
        width: 25%;
        margin-right: 7%;
        h4{
            font-size: 1.4rem;
            color: rgb(51,51,51);
            font-family: "Montseratt";  
            margin-bottom: 4rem;
        }  
        h6{
            font-size: 1.3rem;
            line-height: 2.4rem;
            color: rgb(51,51,51);
            font-family: "Roboto";             
            font-style: italic;
            border-bottom: none;
            a{
                color:inherit;
            }
        }
        .instagram_container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          
            
            .instagram_image{
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                width: 9rem;
                height: 9rem;
                background-size: cover;
                background-position: center center;

            }
           
            .image17{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image18{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image19{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image20{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image21{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image22{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image23{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image24{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }
            .image25{
                background-image: url(Images/Instagram/photos-78841zcS1oLCjBr4-compressor.jpg);
            }

        }
    }
   .end_credit{
       border-top: solid 1px #e5e5e5;
       h4{
            font-size: 1.4rem;
            color: rgb(51,51,51);
            font-family: "Montseratt";
            text-align: center;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }
   }
}

